@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	background-color: #7EBEE3;	
	}

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h1, h2{
	text-align: center;
	font-size: 80px;
}

footer p{
	font-size: 10px;
	margin-top: 2px;
}

header {
	margin: auto;
	text-align: center;
	line-height: 120px;
	font-size: 56px;
	color: #15496D;
	background-color: white;
}

#mapa{
	margin-bottom: 20px;
}
#barralinks {
	background-color: #696969;
}

#news{
	border: 2px solid black;
	border-radius: 10px;
	background-color: #51B3E5;
}

section#infoPagForm{
	margin-top: 15%;
}
aside#cursos{
	font-size: 5
}
nav{
	font-family: 'Open Sans';
}

span {
	color: navy;
	font-size: 1.2em;
	font-weight: bold;
}

#img-logo {
	background-image: url('../images/logonavidad.jpg');
	height: 100px;
}

#img-sb {
	background-image: url('../images/sb.jpg');
	width: 50em;
	height: 40em;
}

#logoform{
	background-image: url('../images/logo.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logoblanco{
	background-image: url('../images/razonesblanco.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 10%;
	height: 20em;
}

[id^="img-"]{
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	margin: auto;
}

img#redes {
	width: 8em;
	height: 5em;
}

#inscripciones{
	font-size: 2em;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}


#social {
	margin: auto;
	margin-bottom: 15px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

footer {
	text-align: center;
	background-color: #08088A;
	color: white;
	font-weight: bold;
	font-size: 1.1em;

    
}

#face {
	background-image: url('../images/facebook.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
	
}

#twi {
	background-image: url('../images/twitter.png');
	background-size: 41%;
	background-repeat: no-repeat;
	color: transparent;
	
}

#insta {
	background-image: url('../images/instagram.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
	
}

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}


