@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*h1, h2 {
	font-family: 'Oswald', sans-serif;
}
nav{
	font-family: 'Open Sans';

}

span {
	color: navy;
	font-size: 1.2em;
	font-weight: bold;
}*/
img.logo {
	width: 10em;
	height: 8em;
}

img.sb {
	width: 50em;
	height: 30em;
}

img.redes {
	width: 8em;
	height: 5em;
}
/*
p {
	font-family: 'Open Sans', sans-serif;
}

footer {
	text-align: center;
	background-color: #08088A;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
    
}

#face {
	background-image: url('../img/facebook.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
}

#twi {
	background-image: url('../img/twitter.png');
	background-size: 41%;
	background-repeat: no-repeat;
	color: transparent;
}

#insta {
	background-image: url('../img/instagram.png');
	background-size: 28%;
	background-repeat: no-repeat;
	color: transparent;
}*/

